@font-face {
    font-family: 'Uncial Antiqua';
    src: url('assets/UncialAntiqua-Regular.ttf') format('truetype');
}

*{
    font-family: 'Uncial Antiqua', serif;
    background-color: rgb(241, 240, 240);
}

header{
    text-align: center;
}

.EarthTitle{
    color: green;
}

.WaterTitle{
    color: rgb(48, 48, 190);
}

.FireTitle{
    color: rgb(237, 100, 49);
}

.Elements{
    display: flex;
    justify-content: space-between;
    width: 25%;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 10%;
}

#Earth,
#Water,
#Fire{
    flex-basis: 0;
    box-sizing: border-box;
    text-align: center;
    margin:auto;
    padding: 5px;
    border-style: none;
    background-color: transparent;
}

#Earth:hover,
#Water:hover,
#Fire:hover{
    scale: 105%;
}


img {
    width: 55px;
    height: auto;
}


.Outcomes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-style: solid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
}

.PlayerChoice,
.BattleStats,
.ComputerChoice{
    flex-grow: 1;
    flex-basis: 0;
    box-sizing: border-box;
    padding-left: 5px;
}

.BattleStats,
.ComputerChoice{
    border-left: 2;
    border-left-style: solid;
}